<% include partials/_header %>

<!-- TAREAS REALIZADAS RESPONSABLE -->
<div class="container">
    <h1 class="text-center mb-4">TAREAS REALIZADAS POR RESPONSABLE</h1>
    <div class="row mb-4">
        <form action="/buscarReporteResponsable" method="POST">

                <div class="col-sm">
                    <select class="form-control" name="responsable" id="responsable" required>
                        <% for(let i = 0; i < responsables.length; i++) { %>
                        <option id="<%=responsables[i]._id%>"><%=responsables[i].nombre%></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary btn-block">
                        Buscar
                    </button>
                </div>

        </form>
    </div>
</div>
<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha Registro</th>
                <th>Fecha Límite</th>
                <th>Responsable</th>
                <th>Soporte</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < tareas.length; i++) { 
                if(tareas[i].estado) {%>
            <tr>
                <td><%= tareas[i].descripcion %> </td>
                <td><%= tareas[i].fecha_registro %> </td>
                <td><%= tareas[i].fecha_limite %> </td>
                <% for(let j = 0; j < responsables.length; j++) {
                        if(tareas[i].responsable == responsables[j]._id) { %>
                <td><%= responsables[j].nombre %> </td>
                <% }
                    } %>
                <td><%= tareas[i].soporte %> </td>
                <td>Realizada</td>
            </tr>
            <% }
         } %>
        </tbody>
    </table>
</div>

<% include partials/_footer %>